<div class="row">
    <div class="col-md-12">
        <div class="card card-plain">
            <div class="card-header">
                <h4 class="card-title"> Invoice Summary</h4>
                <p class="card-category"> Invoices for all your transactions done via Escrow </p>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead class=" text-primary">
                            <th>
                                Amount
                            </th>
                            <th>
                                Invoice ID
                            </th>
                            <th>
                                Receiver ID
                            </th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    1000 RS
                                </td>
                                <td>
                                    0225850
                                </td>
                                <td>
                                    GST-1234
                                </td>
                            </tr>

                        </tbody>

                        <tbody>
                            <tr>
                                <td>
                                    1000 RS
                                </td>
                                <td>
                                    0225851
                                </td>
                                <td>
                                    GST-1234
                                </td>
                            </tr>

                        </tbody>

                        <tbody>
                            <tr>
                                <td>
                                    1000 RS
                                </td>
                                <td>
                                    0225852
                                </td>
                                <td>
                                    GST-1234
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>